---
interface Props {
	title: string;
}

const { title } = Astro.props;
const user = await Astro.cookies.get('user_data')?.json();

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav class="navbar">
			{user ? <p><a href="/api/logout">salir </a></p> : <p><a href="/login">ve a login </a></p> }
			<p><a href="/">ve al home </a></p>
			<p><a href="/dashboard">ve al dashboard </a></p>

		</nav>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	.navbar {
		width: 100%;
		display: flex;
		gap: .5rem;
		justify-content: center;
		color:wheat;
	}
	a {
		color: inherit;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
